<% @posts.each do |post| %>
    <div class="post_wrapper">
        <h2 class="title"> <%= link_to post.title, post %></h2>
        <p class="date">Created on <%= post.created_at.strftime("%B, %d, %Y") %> by <span style="color: #33acb7"><%= post.username %></span></p>
    </div>
<% end %>